* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  width: 120px;
  height: 40px;
  background-color: brown;
  border-radius: 4px;
  display: inline-block;
}
.container div {
  height: 1000px;
  background: red;
  border-bottom: 1px solid #fff;
  font-size: 64px;
  line-height: 1000px;
  text-align: center;
}
.nav-list {
  position: fixed;
  width: 100%;
  left: 0;
  top: 80px;
  background: black;
  z-index: 999;
}
.nav-list a {
  float: left;
  width: 100px;
  padding: 12px 0;
  line-height: 1;
  text-align: center;
  color: white;
  text-decoration: none;
}
.nav-list a.active {
  color: red;
}
.nav-list > li > div {
  height: 100%;
}
.active-nav {
  background: aqua;
}
